*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--color-background);
  padding: 0;
}

body {
  opacity: 0;
  margin: auto;
  padding: calc(var(--padding) * 3);
  max-width: 64rem;

  &.loaded {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

@media screen and (max-width: 48rem) {
  body {
    padding: var(--padding);
  }
}

main {
  position: relative;
}
