*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
	background-color: var(--color-background);
	margin: 0;
	padding: 0;
}

body {
	padding: calc(var(--padding) * 3);
	max-width: 64rem;
	margin: auto;
}

main {
	position: relative;
}
