#competencies {
  > ul {
    display: flex;
    column-gap: var(--padding);
    row-gap: calc(var(--padding) * 2);
    flex-flow: row wrap;
    margin: 0;
    padding: 0;

    > li {
      width: calc(50% - var(--padding) / 2);

      &::before {
        display: none;
      }

      > ul {
        margin: 0;
      }
    }
  }
}
