#header {
  > h1 {
    margin-bottom: var(--padding);
  }

  > h2 {
    border-bottom: none;
    margin-top: 0;
    margin-bottom: var(--padding);
    font-size: calc(var(--font-size) * 2);
  }

  > p {
    margin-bottom: 0;
  
  }
}
