#navigation {
  > ul {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: calc(var(--padding) * 3);
    width: auto;

    > li {
      text-align: right;

      &::before {
        display: none;
      }
    }
  }
}
