@media print {
  :root {
    --font-size: 7pt;
  }

  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important; /* Firefox 48 – 96 */
    print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
  }

  @page {
    margin: 0;
    background-color: var(--color-background);
    padding: 0;
    size: auto;
  }

  html,
  body {
    color-adjust: exact;
    print-color-adjust: exact;
  }

  a {
    text-decoration: none;
  }

  #experience,
  #techtonic {
    page-break-before: always;
    margin-top: 0;
    padding-top: 0.5in;
  }

  #experience > h2 {
    margin-top: 0;
  }
}
