@media print {
  :root {
    --font-size: 10px;
  }

  @page {
    margin: 0;
    background-color: var(--color-background);
    padding: 0;
    size: auto;
  }

  html,
  body {
    color-adjust: exact;
    print-color-adjust: exact;
  }

  a {
    text-decoration: none;
  }

  #experience,
  #techtonic > ul > li:nth-of-type(3) {
    page-break-before: always;
    margin-top: 0.5in;
  }

  #fruition {
    margin-top: calc(var(--padding) * 2)
  }
}
