@media print {
  :root {
    --font-size: 7pt;
  }

  @page {
    margin: 0;
    background-color: var(--color-background);
    padding: 0;
    size: auto;
  }

  html,
  body {
    color-adjust: exact;
    print-color-adjust: exact;
  }

  a {
    text-decoration: none;
  }

  #experience,
  #techtonic,
  #monigle,
  #sterling-rice-group {
    page-break-before: always;
    margin-top: 0.5in;
  }
}
