#competencies + ul {
  display: block;
  margin-bottom: calc(var(--padding) * 2);

  > li > ul {
    display: block;
    margin-bottom: calc(var(--padding) * 2);
  }
}

#education + h3 + p {
  margin-bottom: calc(var(--padding) * 2);
}

@media screen and (min-width: 30rem), print {
  #competencies + ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--padding) * 2);
    padding: 0;

    > li {
      &::before {
        display: none;
      }

      > ul {
        display: block;
        margin: 0;
        padding: 0 0 0 var(--padding);
      }
    }
  }

  #killian-louis-grant + p + ul {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
    padding: 0;
    width: auto;

    > li {
      text-align: right;

      &::before {
        display: none;
      }
    }
  }
}
