html {
  color: var(--color-text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family-primary);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: bold;
  font-family: var(--font-family-secondary);
}

h1 {
  margin-bottom: var(--padding);
  font-size: calc(var(--font-size) * 6);
  line-height: 1;

  + p {
    margin-bottom: calc(var(--padding) * 2);
    color: var(--color-text-alt);
    font-weight: 700;
    font-size: calc(var(--font-size) * 2);
    font-family: var(--font-family-secondary);
  }
}

h2 {
  margin-top: calc(var(--padding) * 3);
  margin-bottom: calc(var(--padding) * 2);
  border-bottom: solid 1px var(--color-text);
  font-size: calc(var(--font-size) * 3);
}

h3 {
  margin-bottom: var(--padding);
  color: var(--color-text-alt);
  font-size: calc(var(--font-size) * 2);
}

h4 {
  margin-bottom: var(--padding);
  font-size: calc(var(--font-size));
}

p {
  margin: 0 0 var(--padding) 0;
}

a {
  color: var(--color-primary);
  text-decoration-color: var(--color-text-alt);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
}
