:root {
  --color-black: #262627;
  --color-grey: #B3B2B3;
  --color-white: #f5f5f5;
  --color-green: #29aa35;
  --color-blue: #2286ea;
  --color-background: var(--color-black);
  --color-primary: var(--color-green);
  --color-secondary: var(--color-blue);
  --color-text: var(--color-white);
  --color-text-alt: var(--color-grey);
  --font-family-primary: 'Operator Mono SSm Lig', monospace;
  --font-family-secondary: 'DIN OT', sans-serif;
  --font-size: 13px;
  --ratio: 1.75;
  --line-height: var(--ratio);
  --padding: calc(var(--font-size) * var(--ratio));
}
